.post
  .post__Title
    = @text.title
  .post__Image
    = video_tag @text.video.url.to_s,loop: true, controls: true, width: 550, id: "mv"
    = image_tag @text.image.url size: '440x400' if @text.image.present?
  = link_to "削除", text_path(@text.id), method: 'delete', class: "postManage__delete"
  .post__Date
    = @text.content