!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DocumentoStandard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.menu-bar
      .menu-bar__title
        = link_to "documento standard", root_path, class: "menu-bar__title__text"
      .menu-bar__right
        - if user_signed_in?
          = link_to "新規作成", new_text_path, class: "menu-bar__right__text"
          = link_to "ログアウト", destroy_user_session_path, method: 'delete', class: "menu-bar__right__text"
        - else
          = link_to "ログイン", new_user_session_path, class: "menu-bar__right__text"
          = link_to "新規登録", new_user_registration_path, class: "menu-bar__right__text"
    .contents
      = yield